body {
    background-color: #232323;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    margin: 60px 0 40px;
    text-align: center;
}

.song__wrp {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: cover;
}

.song__img {
    width: 100%;
}

.song__start {
    color: #fff;
    font-size: 30px;
    padding: 10px 25px;
    background-color: transparent;
    box-shadow: white;
    border: none;
    box-shadow: 0 0 5px 5px rgb(23, 23, 23);
    cursor: pointer;
}

.song__name {
    font-size: 27px;
    text-align: center;
    margin: 30px 0 8px;
}

.song__artist {
    margin: 0 auto;
}

.song__link {
    margin: 40px 0 0;
    display: flex;
}

.song__spotify {
    width: 200px;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 12px 2px rgb(23, 23, 23);
}